@font-face {
	font-family: 'Roboto';
	src: url('./fonts/Roboto-Regular.ttf');
	font-weight: normal;
	font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'Roboto';
	src: url('./fonts/Roboto-Bold.ttf');
	font-weight: bold;
	font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'RobotoBoldItalic';
	src: url('./fonts/Roboto-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
    font-display: swap;
}
:root {
    --color-white: #fff;
    --color-orange-light: #F3976C;
    --color-orange: #c27956;
    --color-grey-light: #eee;
    --color-grey: #484848;
    --color-grey-dark: #333333;
    --color-black: #000;
}

body {
    margin: 0;
    padding: 0;
    background: var(--color-white);
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

element.style {
    background: transparent;
}

a,
button {
    transition: all .3s ease-in-out;
    outline: none!important;
    color: var(--color-grey-dark)!important;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

ul li.partner,
ul {
    max-width: 100%;
    color: var(--color-grey-dark);
}

#page-loading-blocs-notifaction {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 100000;
    background: var(--color-white) url("img/pageload-spinner.gif") no-repeat center center;
}

.bloc {
    width: 100%;
    clear: both;
    background: 50% 50% no-repeat;
    padding: 0 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: auto;
    width: 100%;
}

.bloc .container {
    padding-left: 0;
    padding-right: 0;
}

.bloc-lg {
    padding: 100px 50px;
}

.bloc-md {
    padding: 50px;
}

.bloc-sm {
    padding: 20px 50px;
}

.bg-center,
.bg-l-edge,
.bg-r-edge,
.bg-t-edge,
.bg-b-edge,
.bg-tl-edge,
.bg-bl-edge,
.bg-tr-edge,
.bg-br-edge,
.bg-repeat {
    -webkit-background-size: auto!important;
    -moz-background-size: auto!important;
    -o-background-size: auto!important;
    background-size: auto!important;
}

.bg-repeat {
    background: repeat;
}

.bg-t-edge {
    background: top no-repeat;
}

p.text-header {
    font-weight: bold;
}

.b-parallax {
    background-attachment: fixed;
}

.voffset {
    margin-top: 30px;
}

.voffset-lg {
    margin-top: 80px;
}

.row-no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.row-no-gutters > [class^="col-"],
.row.row-no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

#bloc-1-hero h1 {
    font-size: 32px;
}

.navbar {
    margin-bottom: 0;
    z-index: 1;
}

.navbar-brand {
    height: auto;
    padding: 3px 15px;
    font-size: 25px;
    font-weight: normal;
    font-weight: 600;
    line-height: 44px;
}

.navbar-brand img {
    max-height: 200px;
    margin: 0 5px 0 0;
    display: inline;
}

.navbar-brand img.logo {
    height: 40px;
}

.logo-ban {
    max-height: 100px;
    max-width: 100px;
}

.navbar-brand img[src$=svg] {
    min-width: 100px;
}

.nav-center .navbar-brand img {
    margin: 0;
}

.navbar .nav {
    padding-top: 2px;
    margin-right: -16px;
    float: right;
    z-index: 1;
}

.nav > li {
    float: left;
    margin-top: 4px;
    font-size: 16px;
}

.navbar-nav .open .dropdown-menu > li > a {
    text-align: inherit;
}

.nav > li a {
    font-weight: bold!important;
}

.nav > li a:hover,
.nav > li a:focus {
    background: transparent;
    color: var(--color-orange-light) !important;
}

.navbar-toggle {
    margin: 10px 10px 0 0;
    border: 0px;
}

.navbar-toggle:hover {
    background: transparent!important;
}

.navbar-toggle .icon-bar {
    background-color: rgba(0, 0, 0, .5);
    width: 26px;
}

.nav-invert .navbar .nav {
    float: left;
}

.nav-invert .navbar-header,
.nav-invert .navbar-brand {
    float: right;
    position: relative;
    z-index: 2;
}

@media (min-width: 768px) {
    .site-navigation {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        -webkit-transform: translateY(-50%);
    }
    .nav > li .dropdown-menu a,
    .nav > li .dropdown-menu a:hover {
        color: var(--color-grey);
    }
    .nav-invert .site-navigation {
        left: 0;
        right: 0;
    }
    .nav-center {
        text-align: center;
    }
    .nav-center .navbar-header {
        width: 100%;
    }
    .nav-center .navbar-header,
    .nav-center .navbar-brand,
    .nav-center .nav > li {
        float: none;
        display: inline-block;
    }
    .nav-center .site-navigation {
        position: relative;
        width: 100%;
        right: 0;
        margin-right: 0px;
        margin-top: 20px;
    }
    .nav-center.mini-nav .navbar-toggle {
        float: none;
        margin: 10px auto 0;
    }
}

.nav > li > .dropdown a {
    background: none!important;
    display: block;
    padding: 14px 15px;
}

nav .caret {
    margin: 0 5px;
}

.dropdown-menu .dropdown-menu {
    top: -8px;
    left: 100%;
}

.dropdown-menu .dropmenu-flow-right {
    top: 100%;
    left: 0;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown-menu .dropdown span {
    border: 4px solid var(--color-black);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    margin: 6px -5px 0 0!important;
    float: right;
}

.mg-md {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.mg-lg {
    margin-top: 10px;
    margin-bottom: 40px;
}

.btn {
    margin: 0 5px 5px 0;
}

.btn.pull-right {
    margin: 0 0 5px 5px;
}

.btn-d,
.btn-d:hover,
.btn-d:focus {
    color: var(--color-white);
    background: rgba(0, 0, 0, .3);
}

button {
    outline: none!important;
}

.btn-rd {
    border-radius: 40px;
}

.btn-clean {
    border: 1px solid rgba(0, 0, 0, .08);
    border-bottom-color: rgba(0, 0, 0, .1);
    text-shadow: 0 1px 0 rgba(0, 0, 1, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 1, .25), inset 0 1px 0 0 rgba(255, 255, 255, .15);
}

.icon-md {
    font-size: 30px!important;
}

.icon-lg {
    font-size: 60px!important;
}

.fa {
    color: rgba(255, 255, 255, .6)!important;
}

.fa:hover,
.fa:active {
    color: var(--color-white)!important;
}

.sm-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.panel-sq,
.panel-sq .panel-heading,
.panel-sq .panel-footer {
    border-radius: 0;
}

.panel-rd {
    border-radius: 30px;
}

.panel-rd .panel-heading {
    border-radius: 29px 29px 0 0;
}

.panel-rd .panel-footer {
    border-radius: 0 0 29px 29px;
}

.form-control {
    border-color: rgba(0, 0, 0, .1);
    box-shadow: none;
}

.scrollToTop {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    z-index: 500;
    transition: all .3s ease-in-out;
}

.scrollToTop span {
    margin-top: 6px;
}

.showScrollTop {
    font-size: 14px;
    opacity: 1;
}

a[data-lightbox] {
    position: relative;
    display: block;
    text-align: center;
}

a[data-lightbox]:hover::before {
    content: "+";
    font-family: "Roboto","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
    font-size: 32px;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .6);
    color: var(--color-white);
    font-weight: 100;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

a[data-lightbox]:hover img {
    opacity: 0.6;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
}

#lightbox-modal {
    display: flex;
    align-items: center;
}

#lightbox-modal .modal-dialog {
    width: 90%;
    max-width: 900px;
    margin: 0 auto 0;
}

#lightbox-modal .modal-dialog img {
    max-height: 90vh;
    margin: 0 auto;
}

.lightbox-caption {
    padding: 20px;
    color: var(--color-white);
    background: rgba(0, 0, 0, .5);
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 5px;
    font-size: 12px;
}

.close-lightbox {
    color: var(--color-white);
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 20;
    background: rgba(0, 0, 0, .5);
    border: none;
    line-height: 30px;
    padding: 0 9px 5px;
    opacity: 0.3;
}

.close-lightbox:hover,
.next-lightbox:hover,
.prev-lightbox:hover {
    opacity: 1.0;
    color: var(--color-white);
}

.next-lightbox,
.prev-lightbox {
    font-size: 20px;
    color: rgba(255, 255, 255, .9);
    background: rgba(0, 0, 0, .5);
    transition: all .2s ease-in-out;
    position: absolute;
    top: 45%;
    z-index: 1;
    opacity: 0.4;
}

.next-lightbox {
    padding: 6px 8px 1px 13px;
    right: 25px;
}

.prev-lightbox {
    padding: 6px 13px 1px 10px;
    left: 25px;
}

.snapshot-lb .modal-body {
    padding-bottom: 45px;
}

.snapshot-lb .lightbox-caption {
    padding: 0;
    color: rgba(0, 0, 0, .5);
    background: none;
}

img#lightbox-image.img-responsive {
    max-width: 480px!important;
    max-height: 480px!important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
label,
.btn,
a {
    font-family: "Roboto";
    font-weight: normal;
    color: var(--color-black);
}

a.link-footer {
    text-decoration: none;
    color: var(--color-grey-dark)!important;
    font-weight: bold;
}

a:hover.link-footer {
    text-decoration: none;
    color: #575757!important;
}

.text-footer {
    font-size: 1em!important;
    font-weight: bold!important;
    margin-top: 0px!important;
    margin-bottom: 20px!important;
}

.container {
    max-width: 1000px;
}

.hero-bloc-text {
    font-size: 32px;
}

.hero-bloc-text-sub {
    font-size: 28px;
}

.statement-bloc-text {
    line-height: 26px;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    max-width: 520px;
    margin: auto auto auto auto;
}

p {
  font-size: 14px;
}

p.text-header {
    top: 40px;
}

.tight-width-whitespace {
    max-width: 600px;
    margin: auto auto auto auto!important;
}

.h1 {
    font-size: 20px;
    font-family: "OpenSans";
}

.cta-hero {
    margin-top: 22px;
    color: var(--color-white)!important;
    text-transform: uppercase;
    padding: 12px 28px 12px 28px;
    font-size: 16px;
    font-weight: 700;
}

.social {
    max-width: 400px;
    margin: auto auto auto auto;
}

h2 {
    font-family: 'Roboto-Bold';
    font-size: 1.417em!important;
    line-height: 1.4em!important;
}

h2.h2-title {
    display: inline-block;
    max-width: 600px;
    text-align: center;
    margin-top: -20px;
}

h2.h2-title.title-portfolio {
    margin-top: -20px;
    margin-bottom: 40px;
}

h2.footer-title {
    color: var(--color-black)!important;
    font-size: 1.333em!important;
}

h3 {
    font-size: 1em!important;
    text-transform: uppercase;
    font-weight: 700!important;
    color: var(--color-grey-dark)!important;
}

.med-width-whitespace {
    max-width: 800px;
    margin: auto auto auto auto!important;
    box-shadow: 0px 0px 0px var(--color-black)000;
}

h1 {
    color: var(--color-grey-dark)!important;
}

h4 {
    color: var(--color-grey-dark)!important;
}

.icons {
    margin-bottom: 14px;
    margin-top: 24px;
}

.grey-dark {
    color: var(--color-grey-dark)!important;
}

.white {
    color: var(--color-white)!important;
}

/*Testimonial section*/
.testimonials-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 540px;
    overflow: hidden;
    margin-top: -25px;
}

blockquote {
    position: relative;
    border-left: none!important;
}

blockquote h2 {
    font-family: 'RobotoBoldItalic';
    font-size: 1em!important;
    line-height: 1.4em!important;
    letter-spacing: 0.5px;
}

.quotes {
    position:absolute;
    font-size:1em;
}

.left-quote {
    top: 20px;
    left: 20px;
}

.right-quote {
    bottom: 35px;
    right: 110px;
}

.testimonials-container p {
    margin-top: -25px;
    font-size: 1em;
    line-height: 1em;
    letter-spacing: 0.5px;
}

.portfolio-thumb {
    margin-bottom: 24px;
}

.portfolio-row {
    margin-bottom: 44px;
    margin-top: 50px;
}

.avatar {
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.3);
}

.black-background {
    background-color: rgba(165, 147, 99, 0.7);
    padding: 40px 40px 40px 40px;
}

.bold-link {
    font-weight: 900;
    text-decoration: underline!important;
}

.bgc-white {
    background-color: var(--color-white);
}

.bgc-atomic-tangerine {
    background-color: var(--color-orange-light);
}

.tc-white {
    color: var(--color-white)!important;
}

.btn-atomic-tangerine {
    background: var(--color-orange-light);
    color: var(--color-grey-dark)!important;
}

.btn-atomic-tangerine:hover {
    background: var(--color-orange)!important;
    color: var(--color-white)!important;
}

.ltc-white {
    color: var(--color-white)!important;
}

.ltc-white:hover {
    color: #cccccc!important;
}

.ltc-atomic-tangerine {
    color: var(--color-orange-light)!important;
}

.ltc-atomic-tangerine:hover {
    color: var(--color-orange)!important;
}

.icon-dark-slate-blue {
    color: #364577!important;
    border-color: #364577!important;
}

.bg-dots-bg {
    background-image: url("img/dots-bg.png");
}

.bg-lines-h2-bg {
    background-image: url("img/lines-h2-bg.png");
}

.bg-banniere {
    background-image: url("img/webp/la-chouette-agence-banniere.webp");
}

.bg-presentation {
    background-image: url("img/webp/entreprise-web-design-lyon.webp");
}

@media (max-width: 1024px) {
    .bloc {
        padding-left: 20px;
        padding-right: 20px;
    }
    .bloc.full-width-bloc,
    .bloc-tile-2.full-width-bloc .container,
    .bloc-tile-3.full-width-bloc .container,
    .bloc-tile-4.full-width-bloc .container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    .navbar .nav {
        max-width: 80%
    }
    .nav-center.navbar .nav {
        max-width: 100%
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .b-parallax {
        background-attachment: scroll;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .b-parallax {
        background-attachment: scroll;
    }
}

@media (max-width: 991px) {
    .container {
        width: 100%;
    }
    .b-parallax {
        background-attachment: scroll;
    }
    .page-container,
    #hero-bloc {
        overflow-x: hidden;
        position: relative;
    }
    .bloc {
        padding-left: 20px;
        padding-right: 20px;
    }
    .bloc-group,
    .bloc-group .bloc {
        display: block;
        width: 100%;
    }
    .bloc-fill-screen .fill-bloc-top-edge,
    .bloc-fill-screen .fill-bloc-bottom-edge {
        padding: 0 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 767px) {
    .page-container {
        overflow-x: hidden;
        position: relative;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    #disqus_thread {
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
    .b-parallax {
        background-attachment: scroll;
    }
    .navbar .nav {
        padding-top: 0;
        border-top: 1px solid rgba(0, 0, 0, .2);
        float: none!important;
        box-sizing: border-box;
    }
    .navbar.row {
        margin-left: 0;
        margin-right: 0;
    }
    .site-navigation {
        position: inherit;
        transform: none;
        -webkit-transform: none;
        -ms-transform: none;
    }
    .nav > li {
        margin-top: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        background: rgba(0, 0, 0, .05);
        text-align: left;
        padding-left: 15px;
        width: 100%;
    }
    .nav > li:hover {
        background: rgba(0, 0, 0, .08);
    }
    .dropdown .dropdown a .caret {
        float: none;
        margin: 5px 0 0 10px!important;
        border: 4px solid var(--color-black);
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }
    #hero-bloc .navbar .nav {
        background: rgba(0, 0, 0, .8);
    }
    #hero-bloc .navbar .nav a {
        color: rgba(255, 255, 255, .6);
    }
    .hero {
        padding: 50px 0;
    }
    .hero-nav {
        left: -1px;
        right: -1px;
    }
    .navbar-collapse {
        padding: 0;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-brand img {
        max-height: 40px;
        width: auto;
    }
    .nav-invert .navbar-header {
        float: none;
        width: 100%;
    }
    .nav-invert .navbar-toggle {
        float: left;
        margin-left: 10px;
    }
    .bloc {
        padding-left: 0;
        padding-right: 0;
    }
    .bloc-xxl,
    .bloc-xl,
    .bloc-lg {
        padding: 40px 0;
    }
    .bloc-sm,
    .bloc-md {
        padding-left: 0;
        padding-right: 0;
    }
    .bloc-tile-2 .container,
    .bloc-tile-3 .container,
    .bloc-tile-4 .container,
    .bloc-fill-screen .fill-bloc-top-edge,
    .bloc-fill-screen .fill-bloc-bottom-edge {
        padding-left: 0;
        padding-right: 0;
    }
    .a-block {
        padding: 0 10px;
    }
    .btn-dwn {
        display: none;
    }
    .voffset {
        margin-top: 5px;
    }
    .voffset-md {
        margin-top: 20px;
    }
    .voffset-lg {
        margin-top: 30px;
    }
    form {
        padding: 5px;
    }
    .close-lightbox {
        display: inline-block;
    }
    .blocsapp-device-iphone5 {
        background-size: 216px 425px;
        padding-top: 60px;
        width: 216px;
        height: 425px;
    }
    .blocsapp-device-iphone5 img {
        width: 180px;
        height: 320px;
    }
}

@media (max-width: 415px) {
    .bloc {
        padding-left: 0;
        padding-right: 0;
    }
    img#lightbox-image.img-responsive {
        max-width: 305px!important;
        max-height: 305px!important;
    }
    .bg-banniere {
        background-image: url("img/webp/la-chouette-agence-banniere-mobile.webp")!important;
    }
    .portfolio-thumb {
        float: none!important;
        margin: 0 auto!important;
    }
    .navbar-collapse{
        padding: 0!important;
        margin-right: -15px!important;
    }
    .social {
        height: 35px!important;
    }
    form#form_1 {
        margin: 15px!important;
    }
    iframe {
        margin: 25px!important;
    }
    .scrollToTop {
        bottom: 50px!important;
    }
}

@media (max-width: 767px) {
    .bloc-mob-center-text {
        text-align: center;
    }   
}

@media (min-width: 767px) {
    .navbar .nav {
        margin-right: 15px!important
    }

    .left-quote {
        left: 0px;
    }
    
    .right-quote {
        right: 160px;
    }
}